.web {
  font-family: $ffLogo;
  font-weight: $fwBolder;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $accentColor;
}

.studio {
  font-family: $ffLogo;
  font-weight: $fwBolder;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $mainColor3;
}

.studio--2 {
  font-family: $ffLogo;
  font-weight: $fwBolder;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $mainColor2;
}