$mainColor: #212121;
$mainColor2: #fff;
$mainColor3: #000;
$textColor: #757575;
$accentColor: #2196f3;
$bgColor: #F5F4FA;
$aboutBg: #595961;
$iconColor: #afb1b8;
$bgColor2: #2f303a;
$fwBolder: 700;
$fwSmaller: 500;
$fwText: 400;
$ffLogo: Raleway,
sans-serif;
$ffMain: Roboto,
sans-serif;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);