* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --ff-accent-color: #2196F3;
  --logo-ff: Raleway, sans-serif;
  --main-ff: Roboto, sans-serif;
  --studio-ff-color: #000000;
  --main-color: #212121;
  --main-color-2: #ffffff;
  --text-color: #757575;
  --fw-bolder: 700;
  --fw-smaller: 500;
  --text-fw: 400;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

li {
  list-style: none;
}

body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  line-height: 1.71;
  font-size: 14px;


  color: var(--main-color);
  background: var(--main-color-2);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

p {
  font-family: var(--main-ff);
  font-weight: var(--text-fw);
  letter-spacing: 0.03em;

  color: var(--text-color);
}

h3 {
  text-align: left;
  font-family: var(--main-ff);
  font-weight: var(--fw-bolder);
  font-family: var(--main-ff);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;


}

h2 {
  font-family: var(--main-ff);
  font-weight: var(--fw-bolder);
  font-size: 36px;
  text-align: center;
}

a:visited {
  text-decoration: none;

  color: var(--main-color);
}


/*header--------------------------------------------------------------------------------------------------------------------------------- */


.header {
  display: flex;
  align-items: center;

  height: 80px;
}

.web {
  font-family: var(--logo-ff);
  font-weight: var(--fw-bolder);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196F3;
}

.studio {
  font-family: var(--logo-ff);
  font-weight: var(--fw-bolder);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--studio-ff-color);
}

.navigation {
  font-family: var(--main-ff);
  font-weight: var(--fw-smaller);
  letter-spacing: 0.02em;
  font-size: 14px;
  color: var(--main-color);
}

.navigation__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 93px;
}

.navigation__item:not(:first-child) {
  margin-left: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-bottom: 28px;
  padding-top: 28px;
  text-decoration: none;
  color: currentColor;
}

.navigation__link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--ff-accent-color);

  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

a {
  text-decoration: none;

  color: var(--main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: var(--ff-accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;

  font-family: var(--main-ff);
  font-weight: var(--fw-smaller);

  color: var(--text-color);
}

.contact-list__item {
  display: flex;
}

.contact-list__mail {
  width: 16px;
  height: 12px;
  margin-top: 1px;

  fill: currentColor;
}

.contact-list__phone {
  margin-top: 3px;
  width: 10px;
  height: 16px;

  fill: currentColor;
}

.contact-list__item:not(:first-child) {
  margin-left: 50px;
}

.contact-list__link {
  color: inherit;
  transform: 50% -50%;
}


/* hero---------------------------------------------------------------------------------------------------------------------------------- */


.hero {
  padding: 200px 452px 0px 452px;
  height: 600px;
  margin-bottom: 94px;

  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  background: url(../images/hero-bg.jpg);
  color: var(--main-color-2);
}

.hero__heading {
  font-family: var(--main-ff);
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 30px;

  color: var(--main-color-2);
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 4px;

  font-family: var(--main-ff);
  font-weight: var(--fw-bolder);
  font-size: 16px;

  background-color: var(--ff-accent-color);
  color: var(--main-color-2);
}


/*pecularities-------------------------------------------------------------------------------------------------------------------------- */


.pecularities {
  margin-bottom: 94px;
}

.pecularities__list {
  display: flex;
  margin-bottom: 94px;
}

.pecularities__item {
  width: 270px;
  height: 101px;
  margin-bottom: 94px;
}

.pecularities__image {
  height: 120px;
  padding-top: 25px;

  background: #F5F4FA;
}

.pecularities__svg {
  width: 70px;
  height: 70px;
  margin-left: 100px;

  fill: var(--ff-accent-color);
}

.pecularities__item:not(last-child) {
  margin-right: 30px;
} 

.pecularities__heading {
  margin-top: 30px;
  margin-bottom: 10px;

  text-transform: uppercase;
}


/*wad------------------------------------------------------------------------------------------------------------------------------------- */


.about {
  margin-bottom: 94px;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item:not(:first-child) {
  margin-left: 30px;
}

.about__thumb {
  position: absolute;
  left: 0;
  top: calc(294px - 70px);

  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  padding-left: 83px;
  align-items: center;

  font-family: var(--main-ff);
  font-weight: var(--fw-bolder);
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;
}

/*team----------------------------------------------------------------------------------------------------------------------------------- */


.team {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;

  background: #F5F4FA;
}

.team__list {
  display: flex;
  margin-left: 215px;
}

.team__item {
  height: 428px;
  width: 270px;

  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(last-child) {
  margin-right: 30px;
}

.team__img {
  width: 270px;
}

.team__h {
  margin-top: 30px;

  font-family: var(--main-ff);
  font-size: 16px;
  font-weight: var(--fw-smaller);
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  margin-top: 10px;
  font-family: var(--main-ff);
  font-size: 16px;
  font-weight: var(--text-fw);
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--text-color);
}

.icons {
  display: flex;
  margin-left: 32px;
}

.icons__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 100%;

  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons__item--first {
  margin-left: 32px;
}

.icons:not(first-child) {
  margin-left: 10px;
}


.icons__svg {
  margin-top: 12px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.icons__link:hover .icons__svg {
  fill: var(--main-color-2);
}

.icons__link:hover {
  background-color: var(--ff-accent-color);
  color: var(--main-color-2);
  fill: #FFF;
}

/* clients----------------------------------------------------------------------------------------------------------------------------- */


.clients__heading {
  margin-top: 94px;
  margin-bottom: 50px;
  font-family: var(--main-ff);
  font-size: 36px;
  font-weight: var(--fw-bolder);
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;

}

.clients__list {
  display: flex;
  margin-bottom: 94px;
}

.clients-item {
  margin-left: 30px;
}

.client-a {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-svg {
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-a:hover {
  border: 1px solid var(--ff-accent-color);
  color: var(--ff-accent-color);
}

.client-a:hover .client-svg {
  fill: currentColor
}

.clients-list:first-child {
  margin-left: 15px;
}


/* footer---------------------------------------------------------------------------------------------------------------------------------*/


footer {
  padding-top: 60px;
  background-color: #2F303A;
  font-family: var(--main-ff);
  font-weight: var(--text-fw);
  height: 252px;
}

.adress {
  margin-top: 20px;
  font-family: var(--main-ff);
  font-weight: var(--text-fw);
  color: var(--main-color-2);
}

.footer-cont {
  display: flex;
}

.footer {
  color: #FFFFFF99;
  margin-top: 9px;
}

.studio-2 {
  font-family: var(--logo-ff);
  font-weight: var(--fw-bolder);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color-2);
}

.join {
  margin-left: 70px;
}

.join-h {
  margin-bottom: 20px;
  font-family: var(--main-ff);
  font-weight: var(--fw-bolder);
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-2);
}

.join-icons-list {
  display: flex;
}

.join-item {
  display: flex;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: #FFFFFF1A;
  color: var(--main-color-2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.join-icon {
  margin-top: 12px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
  fill: var(--main-color-2)
}

.join-item:hover {
  background-color: var(--ff-accent-color);
}


/* --------------modal----------------------------------------- */


.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background: #fff;
}

.close-modal {
  position: absolute;
  left: 490px;
  top: 8px;
  width: 30px;
  height: 30px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
}

.close-modal-x {
  width: 18px;
  height: 18px;
  fill: #000;
  margin-top: 6px;
  margin-left: 5px;
}

.modal-h {
  /* margin-top: ; */
  margin-bottom: 12px;

  font-family: var(--main-ff);
  font-weight: var(--fw-bolder);
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.information-form {
  display: flex;
  flex-direction: column;

  font-family: var(--main-ff);
  font-weight: var(--fw-smaller);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: #757575;
  margin-bottom: 4px;
}

.text-input {
  width: 448px;
  height: 40px;
  padding: 12px 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
}

textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  width: 448px;
  padding: 12px 15px;
  margin-bottom: 20px;

  font-family: var(--main-ff);
  font-weight: var(--text-fw);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}


.terms {
  color: var(--ff-accent-color);
  text-decoration: underline;
}